.worldMap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/지도.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
