
.earth {
    animation: earth-spin infinite 20s linear;
}
.my-component {
    background-image: url("../assets/지구배경.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* 화면 높이만큼 이미지를 채우려면 필요한 스타일입니다. */

}
